/* *Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import "./reset.css";
@import "./variables.css";

/* *Pages */
@import "./pages/ohwunwan.css";

html, body {
  font-size: 62.5%; /* 1.6rem -> 16px */
  line-height: 1.285;
  font-family: 'Roboto', sans-serif;
}